.show {
    display: flex;
}


.hide {
display: none;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type=submit] {
    border: 1px solid black;
    border-radius: 3px;
}

#timer {
    text-align: right;
    font-size: 40px;
    padding: 10px 15px 10px 10px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#startCard {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    padding: 80px 10px 80px 10px;
    margin: 10px 10px 10px 10px;
    align-content: center;
    border-radius: 10px;
  
}

.questions {
    display: flex;
}

.qcard {
    flex-wrap: wrap;
    flex: 0 0 50%;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    padding: 80px 10px 80px 10px;
    margin: 10px 10px 10px 460px;
    display: none;
    align-content: center;
    border-radius: 10px;
}

.qcard form {
    display: flex;
    align-content: space-around;
    justify-content: center;
}
